.tab-header {
  display: flex;
  max-width: 620px;
  text-align: center;
  flex-wrap: wrap;
}

.tabs {
  flex: 1;
  text-decoration: none;
  align-items: flex-start;
  text-align: left;
  border-bottom: 2px solid #d1d5d9;
  padding: 10px;
  color: #000000;
  font-size: 15px;
  display: inline-flex;
}

.tabs div {
  background: #d1d5d9;
  color: #000000;
  padding: 0px 5px -4px 2px;
  border-radius: 100%;
  margin-left: 2px;
  height: 20px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.tabs.active {
  border-color: #e2642c;
  font-weight: bolder;
}
