<div class="tab-header">
  <a class="tabs" routerLink="/overview" routerLinkActive="active">Overview</a>
  <a class="tabs" routerLink="/repositories" routerLinkActive="active">Repositories <div> {{userinfo?.public_repos}} </div></a>
  <a class="tabs" routerLink="/stars" routerLinkActive="active">Stars</a>
  <a class="tabs" routerLink="/followres" routerLinkActive="active"> Followers<div> {{userinfo?.followers}} </div> </a>
  <a class="tabs" routerLink="/following" routerLinkActive="active">Following <div> {{userinfo?.following}} </div></a>
</div>
<router-outlet></router-outlet>
