.profile-tab {
  max-width: 350px;
}

.user-profile {
  max-width: 230px;
  margin: auto;
}

.user-profile-img {
  width: 100%;
  max-width: 230px;
  border-radius: 10px;
}

.user-profile h1 div:first-child {
  -webkit-margin-after: 0px;
}

.user-profile h1 div:last-child {
  -webkit-margin-before: 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.user-bio-btn {
  background-color: #e9ecef;
  background-image: none;
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
  width: 100%;
  border: 1px solid #1b1f2359;
  padding: 8px;
}

/* .user-profile-info:first-child {
  border-bottom: 1px solid #1b1f2359;
  padding-top: 20px;
} */

.user-profile-info div {
  font-size: 16px;
}
