<div class="profile-tab">
  <div class="user-profile">
    <img class="user-profile-img" [src]="userinfo?.avatar_url" alt="" srcset="">
    <h1>
      <div>{{userinfo?.name}}</div>
      <div>{{userinfo?.login}}</div>
    </h1>
    <div class="user-bio"></div>
    <div>
      <button type="button" class="user-bio-btn">
        Edit
      </button>
    </div>
    <br>
    <hr>
    <div class="user-profile-info">
      <div>
        <img src="../../../../assets/couple-users-silhouette.png" alt="" srcset=""> {{userinfo?.company}}
      </div>
      <div>
        <img src="../../../../assets//location-pin.png" alt="" srcset=""> {{userinfo?.location}}
      </div>
    </div>
    <div>
      <a href="mailto:{userinfo?.email}">{{userinfo?.email}}</a>
    </div>
  </div>

</div>
