<div>
  <div class="form-sec">
    <div class="input-group">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search repositories…">
    </div>
    <div class="select-box">
      <select id="" class="form-control" [(ngModel)]="repotype">
        <option selected value="All">All</option>
        <option *ngFor="let rl of repoTypeList" [value]="rl.id">{{rl.id}}</option>
      </select>
    </div>
    <div class="select-box">
      <select id="" class="form-control" [(ngModel)]="language">
        <option selected value="All">All</option>
        <option *ngFor="let lang of langList" [value]="lang.id">{{lang.name}}</option>
      </select>
    </div>
    <div class="select-box">
      <button>New</button>
    </div>
  </div>
  <div *ngIf="language!='All'||repotype!='All'" style="margin-top:20px">
    <b>{{(this.repoList | search:searchText:language:repotype).length}}</b> results for
    <span *ngIf="repotype!='All'">
      <b>{{repotype}}</b>
    </span> repositories
    <span *ngIf="language!='All'"> written in
      <b> {{language}}</b>
    </span>
  </div>
  <ul>
    <li *ngFor="let repo of this.repoList| search:searchText:language:repotype">
      <div>
        <h3>
          <a href="{repo.html_url}" target="_blank">
            {{repo.name}}</a>
        </h3>
        <div class="content-dec">{{repo?.description}}</div>
        <div class="content">
          <span class="dev-lang" *ngIf="repo.language!=null">
             {{repo.language}}</span>
          <span class="last-update">Updated on {{repo.updated_at|date}}</span>
        </div>
      </div>

    </li>
  </ul>
</div>
