strong,
b {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0px;
}

ul a {
  text-decoration: none;
  color: #0366d6;
  font-weight: 600;
  font-size: 20px;
}

li {
  border-top: 1px #e1e4e8 solid !important;
  padding-bottom: 20px;
}

.dev-lang div:first-child {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: yellow;
}

.content span {
  margin-right: 20px;
}

.content,
.content-dec {
  font-size: 13px;
  margin-top: 10px;
}

.content-dec {
  font-size: 14px;
  max-width: 525px;
}

.form-sec {
  padding-top: 18px;
  display: flex;
  flex-wrap: wrap;
  align-self: auto;
}

.input-group input {
  padding: 7px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  width: 90%;
}
.select-box button {
  background: green;
  border: navajowhite;
  color: #fff;
  border-radius: 4px;
  padding: 5px 20px;
  font-weight: 600;
}

.select-box select {
  background: #f1f4f7;
  border: 1px solid #dedede;
  color: #000;
  border-radius: 4px;
  padding: 5px 20px;
  font-weight: 600;
}

h3 {
  -webkit-margin-after: 0px;
}
@media only screen and (min-width: 768px) {
  .input-group {
    flex: 3;
  }
  
  .select-box {
    flex: 1;
  }
}
/* 
@media only screen and (max-width: 767px) {
  .form-sec{

  }
} */
