.main {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .left-panel {
    flex: 3;
  }
  .right-panel {
    flex: 7;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
  }
  .tab-header {
    flex-wrap: wrap;
  }
}
