<div class="main">
  <div class="left-panel">
    <app-profile-info [userinfo]="this.userinfo"></app-profile-info>
  </div>
  <div class="right-panel">
    <app-collaboration [userinfo]="this.userinfo"></app-collaboration>
  </div>
</div>
